.slider-container {
  max-width: 100%;
  position: relative;
}

.slider {
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.slider-track {
  display: flex;
  height: 65vh;
  transition: transform 0.3s ease-in-out;
}

.slide {
  min-width: 100%;
  height: 100%;
}

.slider-img {
  width: 100%;
  height: 100%;
  display: block;
}

.slider-btn {
  position: absolute;
  top: 50%;
  padding: 12px 16px;
  border-radius: 50%;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transform: translateY(-50%);
}

.slider-btn:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.btn-prev {
  left: 15px;
}

.btn-next {
  right: 15px;
}

.slider-dots {
  position: absolute;
  bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.dot {
  height: 12px;
  width: 12px;
  background-color: rgba(14, 1, 1, 0.5);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.dot.active {
  background-color: white;
}

.dot:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 480px) {
  .slider-track {
    height: 25vh;
  }
  .dot {
    height: 6px;
    width: 6px;
  }
  .slider-btn {
    display: none;
  }
}

@media (max-width: 800px) {
  .slider-track {
    height: 25vh;
  }
  .dot {
    height: 8px;
    width: 8px;
  }
 
}

