.footer {
  background: #111;
  color: #fff;
  padding: 40px 20px 20px;
  width: 100%;
  overflow-x: hidden;
  margin-top: 50vh;
}

.footer h2 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #f1f1f1;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: auto;
}

.footer-section-contact p,
.footer-section-about p {
  font-size: 14px;
  color: #bbb;
  margin: 8px 0;
}

.footer-section-icon span {
  font-size: 22px;
  margin-right: 15px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.footer-section-icon span:hover {
  color: #efc312;
}

.footer-bottom {
  text-align: center;
  padding: 15px 0 0;
  margin-top: 30px;
  border-top: 1px solid #333;
  font-size: 14px;
}
.footer-bottom p {
  color: #bbb;
}

/* ===== Responsive ===== */
@media (max-width: 768px) {
  /* Footer */
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .footer-section-icon {
    margin-top: 15px;
  }
}
