.home-heading {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
}

.home-product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}
.product-id {
  text-decoration: none;
}

/* Responsive */
@media (max-width: 768px) {
  .home-heading {
    font-size: 1.6rem;
  }
}

@media (max-width: 480px) {
  .home-heading {
    font-size: 1.3rem;
  }
}
