.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #f9f9f9;
}

.loader {
  width: 60px;
  height: 60px;
  border: 6px solid hsl(0, 0%, 88%);
  border-top: 6px solid #4cafef;
  border-bottom: 6px solid #4cafef;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
