.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem ;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  gap: 0.2rem;
}

.pagination-btn {
  background-color: #f5f5f5;
  color: #333;
  border: 1px solid #ddd;
  padding: 0.6rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease;
}

.pagination-btn:hover {
  background-color: #333;
  color: #fff;
}

.pagination-btn.active {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.first-page,
.last-page {
  background-color: #f0f0f0;
}

.prev-page,
.next-page {
  background-color: #e9ecef;
}

.pagination-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

@media (max-width: 600px) {
  .pagination-container {
    gap: 0.3rem;
  }

  .pagination-btn {
    padding: 0.4rem 0.7rem;
    font-size: 0.85rem;
  }
}
