.container {
  width: 100%;
  display: flex;
  gap: 1%;
  align-items: flex-start;
}
.products-container {
  width: 79%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}
.filter-container {
  width: 20%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;
  letter-spacing: 1px;
  color: #333;
}
.filter-heading {
  font-weight: bold;
  padding-top: 20px;
}
.filter-container p {
  color: #333;
  padding: 18px 0;
  cursor: pointer;
  text-transform: uppercase;
}

@media (max-width: 480px) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .products-container {
    width: 100%;
  }
  .filter-container {
    display: flex;
    width: 100%;
  }
  .filter-heading {
    display: none;
  }
  .filter-container p {
    padding: 12px 10px;
    font-size: 12px;
  }
}
