.product-card {
  width: 230px;
  background: #ffffff;
  border-radius: 20px;
  margin: 30px 0;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.image-container {
  width: 100%;
  height: 180px;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.info-box {
  padding: 10px 18px;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 6px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.product-title {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  text-transform: capitalize;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  max-width: 100%;
}

.product-rating {
  font-size: 1rem;
}
.filled {
  color: #f39c12;
}

.empty {
  color: gray;
}

.price {
  font-size: 15px;
  font-weight: 700;
  color: #f39c12;
}

@media (max-width: 480px) {
  .product-card {
    width: 160px;
    margin: 20px 0px;
  }

  .image-container {
    width: 100%;
    height: 150px;
  }

  .info-box {
    gap: 3px;
  }

  .product-title,
  .price {
    font-size: 14px;
  }

  .product-rating {
    font-size: 0.8rem;
  }
}
