.register-container {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f7f8fa;
  padding: 40px 20px;
}

.register-form {
  background: #ffffff;
  padding: 40px 30px;
  width: 100%;
  max-width: 400px;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 18px;
}
img {
  width: "70px";
  height: "70px";
  margin: "auto";
  border-radius: "50%";
  object-fit: cover;
}

.profile-avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto; /* center */
}

.form-title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  color: #222;
  /* margin-bottom: 10px; */
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 0.9rem;
  font-weight: 500;
  color: #333;
  margin-bottom: 6px;
}

.form-group input {
  padding: 12px;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 0.95rem;
  transition: border-color 0.3s;
}

.form-group input:focus {
  border-color: rgb(27, 23, 23);
  outline: none;
}

/* ---------- Button ---------- */
.btn-submit {
  background: #111;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-submit-loading{
  background: #2a2929;
}

.btn-submit:hover {
  background: #2a2929;
}

/* ---------- Text ---------- */
.signin-text {
  text-align: center;
  font-size: 0.9rem;
  color: #555;
}

.signin-link {
  color: #0551a2;
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
}

.signin-link:hover {
  text-decoration: underline;
  color: #0056b3;
}

/* ---------- Responsive ---------- */
@media (max-width: 480px) {
  .register-form {
    padding: 30px 20px;
  }

  .form-title {
    font-size: 1.5rem;
  }
}
