.create-product-container {
  max-width: 600px;
  margin: 40px auto;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  padding: 30px 40px;
}

.create-product-heading {
  text-align: center;
  color: #333;
  margin-bottom: 25px;
  font-size: 1.8rem;
  font-weight: 600;
}

.create-product-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: 600;
  color: #555;
  margin-bottom: 8px;
}

.form-group input,
.form-group textarea,
.form-group select {
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  outline: none;
  transition: border 0.2s ease;
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
  border-color: black;
}
.category-name {
  text-transform: capitalize;
}
.create-btn {
  background-color: black;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.2s ease;
  letter-spacing: 1px;
}

.create-btn-loading {
  background-color: rgb(38, 35, 35);
}

.create-btn:hover {
  background-color: rgb(38, 35, 35);
}

.preview {
  display: flex;
  gap: 5px;
}
.image-preview {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #ddd;
  overflow-y: scroll;
}

