/* ===== Global Reset ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
}
